.aboutpreview{
    display: flex;
    gap: 1rem;
}

.about-img{
    width: 30rem;
    border-radius: 10px;
}

.about-we{
    display: flex;
    gap: 1rem;
}

.wewe{
    padding: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 1rem;
}

.card{
    width: 7rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
}