.map-area{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    margin-top: 4rem;
    background-color: pink;

    border-radius: 5px;
    margin-bottom: 0;
}

.map,
.h2{
    margin-bottom: 1.5rem;
}

.mapa{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link-div{
    margin-top: 2rem;
}

.link{
    padding: 1rem;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.link-div-a{
    margin-top: 1rem;

    display: flex;
    gap: 1rem;
}

.input{
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.p{
    color: green;
}